<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container my-3">
        <!--Log Out-->
        <div class="col-12 mb-3 d-flex justify-content-end">
            <a href="/logout" class="btn btn-outline-dark">Log Out</a>
        </div>
        <!--Add an appointment-->
        <div class="col-lg-5 container mx-auto my-5">
            <div class="card-deck">
                <div class="card border-dark mb-3" style="max-width: 180rem;">
                    <div class="card-header bg-dark text-white"><h4>Add an appointment</h4></div>
                        <div class="card-body">
                            <form class="form" form action="add_appointment" method="POST">
                                {% csrf_token %}
                                <!--Task-->
                                <fieldset class="mb-3">
                                    <label class=" form-label" for="task">Task</label>
                                    <input class="col-12 form-control" type="text" name="task" placeholder="Task" required="required">
                                </fieldset>
                                <!--Date-->
                                <fieldset class="mb-3">
                                    <label class="form-label" for="date">Date</label>
                                    <input class="col-8 form-control" type="date" id="start" name="date"  min="2019-03-01" required="required">
                                </fieldset>
                                <!--Status-->
                                <fieldset class="mb-3">
                                    <label class="form-label" for="status">Status</label>
                                    <!--<input class="form-control" type="text" name="subject" id="subject" placeholder="Ingrese el asunto" required="required"-->
                                    <select class="col-8 form-control form-control-select" name="status" id="status" required="required">
                                        <option selected>Select Status</option>
                                        <option value="Missed" name="status">Missed</option>
                                        <option value="Pending" name="status">Pending</option>
                                        <option value="Done" name="status">Done</option>
                                    </select>
                                </fieldset>
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-outline-dark px-5 d-flex justify-content-end" type="submit" name="add">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>