<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Ninja Money</title>
</head>
<body style="background-color: #FFD700">
    <div class="container" >
        <h2 class="text-center py-5"><b>Ninja Gold</b></h2>
        <div class="row py-5">
            <div class="col-2 pt-lg-2">
                <label for=""><b>Your Gold:</b></label>
            </div>
            <div class="col-3 bg-light border border-dark ">
                <h3>{{ request.session.gold_amount }}</h3>
            </div>
        </div>
        <div class="row py-5">
            <!--Farm-->
            <div class="col-3 py-5 bg-light border border-dark text-center">
                <h3><b>Farm</b></h3>
                <p class="py-2">(earns 10-20 golds)</p>
                <form action="process_money" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="farm">
                    <button type="submit" class="btn btn-dark mt-2">Find Gold!</button>
                </form>
            </div>
            <!--Cave-->
            <div class="col-3 py-5 bg-light border border-dark text-center">
                <h3><b>Cave</b></h3>
                <p class="py-2">(earns 5-10 golds)</p>
                <form action="process_money" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="cave">
                    <button type="submit" class="btn btn-dark mt-2">Find Gold!</button>
                </form>
            </div>
            <!--House-->
            <div class="col-3 py-5 bg-light border border-dark text-center">
                <h3><b>House</b></h3>
                <p class="py-2">(earns 2-5 golds)</p>
                <form action="process_money" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="house">
                    <button type="submit" class="btn btn-dark mt-2">Find Gold!</button>
                </form>
            </div>
            <!--Casino-->
            <div class="col-3 py-5 bg-light border border-dark text-center">
                <h3><b>Casino</b></h3>
                <p class="py-2">(earns/takes -50-50 golds)</p>
                <form action="process_money" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="casino">
                    <button type="submit" class="btn btn-dark mt-2">Find Gold!</button>
                </form>
            </div>
        </div>
        <h5 class="px-2"><b>Activities:</b></h5>
        <div class="activities mb-5 px-2 bg-light border border-dark">
            {% for move in request.session.moves %}
                {% if move.0 < 0 %}
                    <p>Has perdido {{move.0}} oro en {{move.1}} ({{move.2}})</p>
                {% else %}
                    <p>Has ganado {{move.0}} oro en {{move.1}} ({{move.2}})</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>