<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Date and Time</title>
</head>
<body>
    <div class="container" >
        <div class="title">
            <h3><b>Fecha y Hora Actual:</b></h3>
        </div>
        <div class="data">
            <h1>{{ date }}</h1>
            <h1>{{ time }}</h1>
        </div>
        <div class="data">
            <h1>{{ date2 }}</h1>
            <h1>{{ time2 }}</h1>
        </div>
        
    </div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</body>
</html>