body{
    padding: 0% 10%;
}
img{
    background-color:rgb(204, 245, 154);
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px
}
#pokemon{
    display: inline-block;
    width: 75%;
}

#info{
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

#h2{
    width:75%;
    margin-top: 5%;
    margin-bottom:5%;
}

h2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

li{
    list-style: none;
    font: size 20px;
}

